@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    
}


:root{
    --sideBar: #14141d;
    --text: white;
    --text-black: #1f1f3ac4;
    --bttn-focus: rgba(31, 36, 58, 0.733);
    --input-focus: rgba(248, 113, 113, 0.986);
}

.sideBar{
    background-color: var(--sideBar);
    color: var(--text);
    width: 300px;
    height: 100%;

    padding: 30px 24px;

    position: fixed;
    top: 0;
    left: 0;


}

.logo{
    
    display: flex;
    width: 100%;

    
    align-items: center;
    margin-bottom: 50px;
    font-weight: 200;
   
    

}

.logo h1{
    font-weight: 200;
    font-size: 20pt;
}

.imgLogo{
    width: 50px;
    margin-right: 20px;
    color: var(--text);
    opacity: 1;
}
.search{
    display: flex;
    height: 60px;
    width: 90%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center ;

    

}



.search input{
    line-height: 20pt;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    
    

}

.search input:focus{
    
    outline: 3px solid var(--input-focus);
    border: 2px solid var(--input-focus);
    
      
       

}



.navList li{
    list-style: none;
    padding: 5px;
    
    

}

.navList  input, button {
    border-radius: 5px;
    width: 100%;
    line-height: 30px;
    border: none;
    transition: all 0.3s ease;
    border: none;
    
   
      
    
}

.navList  input:hover, button:hover {
    cursor: pointer;
    background-color: var(--bttn-focus);
    color: var(--text);
    
    

}

.navList button{
    display: flex;
    height: 50px;
    align-items: center ;
    justify-content: center;
}

.navType{

    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;    
    border-top: 1px solid rgba(255, 255, 255, 0.219);   
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219); 
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 100px;
    

    

}


.navType input{
    width: 80px;
    font-size: 11pt;
    
}

.buttomSearchType{
    width: 50px;
    border-radius: 100%;
    border: none;
    margin-top: 50px;
}

.user{
    position: absolute;
    left:1;
    bottom: 0;
    transform: translateY(-50%);
}

.container{
    display: flex;
}
main{   
    padding: 10px;
    display: flex;
    transform: translateX(300px);    
    justify-content:center;
    width: 70%;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    min-width: 70%;
    


}

main h1{
    font-size: 30pt;
    text-align: center;
    color: var(--text-black);
    transition: all 0.5s ease;
}
main h1:hover{
    transform: scale(1.05);
    
}

