@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    
}


:root{
    --sideBar: #14141d;
    --text: white;
    --text-black: #171727e7;
    --bttn-focus: rgba(31, 36, 58, 0.733);
    --input-focus: rgba(248, 113, 113, 0.986);
    --card-background: rgb(37, 37, 37);
}

.sideBar{
    background-color: var(--sideBar);
    color: var(--text);
    width: 300px;
    height: 100%;

    padding: 30px 24px;

    position: fixed;
    top: 0;
    left: 0;


}

.logo{
    
    display: flex;
    width: 100%;

    
    align-items: center;
    margin-bottom: 50px;
    font-weight: 200;
   
    

}

.logo h1{
    font-weight: 200;
    font-size: 20pt;
}

.imgLogo{
    width: 50px;
    margin-right: 20px;
    color: var(--text);
    opacity: 1;
}
.search{
    display: flex;
    height: 60px;
    width: 90%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center ;

    

}



.search input{
    line-height: 20pt;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    border: none;
    
    

}

.search input:focus{
    
    outline: 3px solid var(--input-focus);
    
    
      
       

}



.navList li{
    list-style: none;
    padding: 5px;
    
    

}

.navList  input, button {
    border-radius: 5px;
    width: 100%;
    line-height: 30px;
    border: none;
    transition: all 0.3s ease;
    border: none;
    
   
      
    
}

.navList  input:hover, button:hover {
    cursor: pointer;
    background-color: var(--bttn-focus);
    color: var(--text);
    
    

}

.navList button{
    display: flex;
    height: 30px;
    align-items: center ;
    justify-content: center;
}

.navType{

    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;    
    border-top: 1px solid rgba(255, 255, 255, 0.219);   
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219); 
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 100px;
    

    

}


.navType input{
    width: 80px;
    font-size: 11pt;
    
}

.buttomSearchType {
    width: 120px;     
    margin-top: 50px;

   
}

.user{
    position: absolute;
    left:1;
    bottom: 0;
    transform: translateY(-50%);
    
    
    
}

.user > p {
    font-size: 10pt;
}

.container{
    display: flex;
}
.contentPoke{   
    padding: 10px;
    display: flex;
    transform: translateX(400px);    
    justify-content:center;
    width: 70%;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    min-width: 70%;
    


}

.contentPokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    height: 800px;
    width: 500px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, rgb(142, 135, 241), rgb(116, 203, 230)) ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507);
    transition: all 0.5s ease;
    

}

.contentPokemon button{
    
    width: 50px;
    background: none;
    margin-top: 50px;
}

.contentPokemon button:hover{
    transform: translateY(-10px);
    transition: all 0.5s ease;
}
.contentPokemon h1{
    text-transform: capitalize;

}

.contentPokemon > img{
    border-radius: 20px;
    background-color: white;
    
}

.contentPokemon:hover{
    transform: translateY(-10px);
    transition: all 0.5s ease;


}

.cardSixPokemon{
    margin:20px 10px;
    height: max-content;
    width: 350px;
    background-image: linear-gradient(45deg, rgb(95, 95, 95), rgb(255, 255, 255));
    
}

.cardSixPokemon  h1{
    font-size: 20pt;

}
.cardSixPokemon  h2{
    font-size: 14pt;

}

.cardSixPokemon > img{

    width: 300px;

}

.cardSixPokemon > button{

    margin-top: 10px;

}

/* .prevButton, .nextButton{
    
    
   

} */

/* .contentPoke{
    background-color: grey  ;
    width: 100%;
} */


/* 
main{
    display: flex;
    flex-wrap: ;
    justify-content: space-between;
    width: 100%;
    transform: translateX(300px);
    
    background-color: red;
} */

main h1{
    font-size: 30pt;
    text-align: center;
    color: var(--text-black);
    transition: all 0.5s ease;
}
main h2{
    font-size: 20pt;
    text-align: center;
    color: var(--text-black);

}
main h1:hover{
    transform: scale(1.05);
    
}

.hidden{
    visibility: hidden;
}

